* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  transition: 0.5s;
  text-decoration: none;
  color: black;
}

.header {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 5px solid red;
  position: fixed;
  width: 100%;
  padding: 40px;
  height: 40px;
  z-index: 1;
}

.header h1 {
  transition: 0.5s;
}

.header h1:hover {
  color: red;
  transform: scale(1.01);
}

.header h1:hover span {
  color: black;
}

.header span {
  color: red;
  transition: 0.5s;
}

.link-wrapper a {
  text-decoration: none;
  color: black;
  margin: 0 10px;
}

.link-wrapper a:hover {
  color: red;
}

#hero-section {
  position: relative;
  width: 100%;
}

#hero-section img {
  width: 100%;
  height: calc(100vh - 80px);
  margin-top: 80px;
  object-fit: cover;
}

.hero-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 80px);
  margin-top: 80px;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-image-overlay h1 {
  color: white;
  font-size: 30px;
}

.hero-image-overlay a {
  text-decoration: none;
  color: white;
  background-color: transparent;
  padding: 10px 20px;
  border: 2px solid white;
  font-size: 20px;
  border-radius: 10px;
}

.hero-image-overlay a:hover {
  background-color: white;
  color: black;
}

.section {
  min-height: 60vh;
}

#services-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.service-card {
  width: 300px;
  margin: 2%;
  background-color: white;
  border-radius: 10px;
  min-height: 40vh;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.5s;
}

.service-card:hover {
  transform: scale(1.01);
}

.service-card-header-wrapper {
  width: 100%;
  background-color: red;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.service-card-header-wrapper i {
  border-radius: 50%;
  background-color: black;
  padding: 15px;
  font-size: 20px;
}
